/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* fonts  */
body{
    overflow-x: hidden;
    min-height:100vh;
    min-width: 100vw;
    font-family: 'Poppins', sans-serif;
}
.my-carousel-item::before{
    height:100vh;
    min-height: 300px;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background-color: #1E1E1E;
    opacity: .5;
}
.carousel-caption{
    transform: translateY(-50%);
    bottom: initial;
    top:50%;
}
.explore-bg{
    background-color: #F4FAFD;
}

/* Extra small devices (phones, 600px and down)  */
@media only screen and (max-width: 600px) {
    .course-offer.d-flex.align-items-center {
        display: flex;
        flex-direction: column;
    }
    .rjoin-info{
        display: flex;
        flex-direction: column;
    }
    .faq-items{
        width:100%;
    }
    .btn-r{
        visibility: visible;
    }
}

